/* General background styling */
body {
    background-color: #12b78e; /* Light blue background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Container styling */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1b619f; /* White background for the container */
    border-radius: 8px;
    color: azure;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header styling */
header {
    text-align: center;
    padding: 10px 0;
    background-color: #4caf50; /* Green header background */
    color: white;
    border-radius: 8px 8px 0 0;
}

header h1 {
    margin: 0;
    font-size: 4rem;
    color:aliceblue
}